.student-item {
  border-bottom: 1px solid #ccc;
  padding: 20px 40px;
}

.flex-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.student-pic {
  border-radius: 100%;
  border: 1px solid #ccc;
  height: 200px;
  width: 200px;
  margin-right: 40px;
}

.student-name {
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.student-details {
  padding-left: 30px;
}
.student-details p {
  margin: 0 0 5px;
  font-size: 18px;
  font-weight: 200;
}
