.student-item {
  border-bottom: 1px solid #ccc;
  padding: 20px 40px;
}

.flex {
  display: flex;
  align-items: flex-start;
}

.flex-between {
  justify-content: space-between;
}

.flex-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.student-pic {
  border-radius: 100%;
  border: 1px solid #ccc;
  height: 200px;
  width: 200px;
  margin-right: 40px;
}

.student-name {
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.student-details {
  padding-left: 30px;
}

.student-details p {
  margin: 0 0 5px;
  font-size: 18px;
  font-weight: 200;
}

.details-icon {
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.details-icon div {
  width: 35px;
  height: 4px;
  background: #777;
  border-radius: 3px;
}

.details-icon:hover div {
  background: #000;
}
.details-icon div:first-child {
  transform: translateY(17px);
}
.details-icon div:last-child {
  transform: rotate(90deg) translateX(13px);
}
.details-icon-open div:last-child {
  display: none;
}

.test-details {
  margin-top: 20px;
}
